.flight-row {
  display: flex;
  background-color: rgba(0, 255, 0, .2);
  & > .flight-cell {
    position: relative;
    display: flex;
    background-color: rgba(0, 0, 0, .4);
    flex: 1;
    padding: 8px;
    width: 14.28%;
    min-height: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    overflow-wrap: break-word;
    align-items: center;
    justify-content: center;
  }
  &.longDelay {
    background-color: rgba(255, 255, 0, .2);
  }
  &.malfunction {
    background-color: rgba(255, 0, 0, .2);
  }
  & > .flight-details-update {
    animation: flip 1s ease-in-out forwards;
  }
}

@keyframes flip {
  0% {
    transform: perspective(400px) rotateX(-180deg);
  }
  100% {
    transform: perspective(400px) rotateX(-360deg);
  }
  0% {
    transform: perspective(400px) rotateX(-180deg);
  }
}
