.flight-row {
  display: flex;
  &.hangar {
    background-color: rgba(255, 255, 0, .2);
  }

  &.airborne {
    background-color: rgba(0, 255, 0, .2);
  }

  &.malfunction {
    background-color: rgba(255, 0, 0, .2);
    //animation: pulse 3.1415s ease-in-out forwards;
  }
  & > .flight-cell {
    position: relative;
    flex: 1;
    padding: 8px;
    border-bottom: 1px solid #ccc;
    text-align: center;
  }
  & > .flight-details-update {
    animation: flip 1s ease-in-out forwards;
  }
}

@keyframes flip {
  0% {
    transform: perspective(400px) rotateX(-180deg);
  }
  100% {
    transform: perspective(400px) rotateX(-360deg);
  }
}

@keyframes pulse {
  0% {
    transform: scaleX(1)
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05)
  }

  to {
    transform: scaleX(1)
  }
}
