.flight-row {
  display: flex;
}
.flight-cell {
  flex: 1;
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

.flight-details-update {
  animation: flip 0.8s ease-in-out forwards;
}
.hangar {
  background-color: rgba(255, 255, 0, .5);
}
.airborne {
  background-color:  rgba(0, 255, 0, .51);
}
.malfunction {
  background-color: rgba(255, 0, 0, .5);
}

@keyframes flip {
  0% {
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
    -webkit-transform: perspective(400px) rotateX(90deg);
    transform: perspective(400px) rotateX(90deg)
  }

  40% {
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-transform: perspective(400px) rotateX(-20deg);
    transform: perspective(400px) rotateX(-20deg)
  }

  60% {
    opacity: 1;
    -webkit-transform: perspective(400px) rotateX(10deg);
    transform: perspective(400px) rotateX(10deg)
  }

  80% {
    -webkit-transform: perspective(400px) rotateX(-5deg);
    transform: perspective(400px) rotateX(-5deg)
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px)
  }
}