.flight-table {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;

}
.flight-header {
  font-weight: bold;
  background-color: aqua;
  font-size: 1.3rem;
  padding: 8px;
}
.flight-body {
  display: flex;
  flex-direction: column;
  background-color: rgba(0,0,0,.5);
  font-size: 1.1rem;
  padding: 8px;
}
